<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hr.fer.ruazosa.if47987.caraccident.caraccident">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrimaryData"
            android:label="@string/title_activity_primary_data"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="hr.fer.ruazosa.if47987.caraccident.caraccident.MainActivity" />
        </activity>
        <activity
            android:name=".VehicleA"
            android:label="@string/title_activity_vehicle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".VehicleB"
            android:label="@string/title_activity_vehicle_b"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OkolnostiNesrece"
            android:label="@string/title_activity_okolnosti_nesrece"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
